img {
    width: 250px;
}
h2 {
    text-transform: uppercase;
    color: rgb(5, 51, 134);
    text-align: center;
}
p {
    text-align: center;
}
section {
    text-align: center;
}
div p {
    font-style: italic;
}
